<h1><%= @category.name %></h1>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Remove', @category, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', categories_path %>

<h2>Products of the <%= @category.name%> Category: </h2>
<hr />
<% @products.each do |product| %>
  <div class="product">
    <h2><%= link_to product.name, product %></h2>
    <div class="details">
      <%= number_to_currency(product.price) %> |
      <%= product.categories.map(&:name).join(", ") %> |
      <%= product.publisher.name %>
    </div>
  </div>
<% end %>